html, body {
    height: 100%;
}

#app{
    height: 100%;
}
#main {
    height: 100%;
}

.container {
  position: relative;
  height: 100%;
  background-color: #F7F7F7;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#login-register-div {
    padding-top: 20px;
    max-width: 500px;
    margin: 0 auto;
    height: 100%;
}

#nav-tabContent {
    padding-top: 20px;
}


.dashboard {
    min-height: 100%;
    display: block;
}
